@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:before, #header:before, #player:before, #content:before, #infos:before, #grid-container:before,
.clear:after,
#header:after,
#player:after,
#content:after,
#infos:after,
#grid-container:after {
  content: " ";
  display: table; }

.clear:after, #header:after, #player:after, #content:after, #infos:after, #grid-container:after {
  clear: both; }

.grid-item, .player {
  width: 90px;
  height: 90px; }

body {
  background-image: url("../img/themes/space/background.png");
  background-repeat: no-repeat;
  font-family: "Patrick Hand"; }

#screen-wrapper {
  width: 1024px;
  height: 768px; }

#game-container, .aside {
  position: relative; }

#header {
  height: 73px; }

#infos {
  padding: 20px; }

#score {
  color: #ed731b;
  font-size: 36px; }

#game-container {
  margin: 0 auto;
  width: 900px;
  height: 640px;
  padding-top: 10px; }

#player, #score, #time, .player-color {
  float: left; }

#infos {
  float: right; }

#grid-container {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 0; }

#my-canvas {
  position: absolute;
  top: 10px;
  left: 0; }

.grid-item {
  position: relative;
  z-index: 2;
  float: left;
  text-align: center; }
  .grid-item img {
    display: block;
    width: 100%;
    transition: all 0.3s ease; }
  .grid-item.target:before {
    z-index: 1;
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #FFF;
    opacity: 0.3;
    border-radius: 50%; }

.player {
  position: absolute;
  z-index: 5; }

.mini {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#menu {
  float: left; }
  #menu a {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    transition: all 0.3s ease;
    margin: 13px 20px 0 20px; }

#back {
  background-image: url("../img/themes/space/interface/back_hover.png");
  background-color: #ed731b; }
  #back:not(.forbidden):hover {
    background-image: url("../img/themes/space/interface/back.png");
    background-color: #fff; }
  #back.forbidden {
    cursor: no-drop;
    background-color: #555; }

#victory {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../img/themes/space/victoire.png");
  background-position: 50% 50%;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 36px;
  padding: 20%; }
  #victory h1 {
    font-size: 60px; }

/*# sourceMappingURL=app.css.map */
