//@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

body {
	background-image: url("../img/themes/#{$selectedTheme}/background.png");
	background-repeat: no-repeat;
	font-family: "Patrick Hand";
}
#screen-wrapper {
	width: 1024px ;
	height: 768px ;
}
#header, #player, #content {
	@extend .clear;
}
#game-container, .aside {
	position: relative ;
}
#header {
	height: 73px ;
}

#infos {
	padding : 20px ;
}

#score {
	color : $main-color ;
	font-size: 36px ;
}

#game-container {

	margin : 0 auto;
	width: 900px ;
	height: 640px ;
	padding-top: 10px ;
}

#player, #score, #time, .player-color {
	float: left ;
}

#infos {
	@extend .clear;
	float: right ;
}

#grid-container {
	@extend .clear;
	position: absolute ;
	z-index: 3 ;
	top: 10px ;
	left: 0 ;
}

#my-canvas {
	position: absolute ;
	top: 10px;
	left: 0;
}

.grid-item {

	position: relative;
	z-index : 2 ;
	float: left ;
	@extend %cell-item ;
	text-align: center ;

	img {
		display: block ;
		width: 100%;
		transition : all 0.3s ease ;
	}

	&.target:before {
		z-index : 1 ;
		content:  "";
		display: block ;
		width: 120px ;
		height: 120px ;
		position: absolute ;
		top: -15px ;
		left: -15px ;
		background-color: #FFF;
		opacity: 0.3 ;
		border-radius : 50% ;
	}
}



.player {
	position: absolute ;
	z-index: 5 ;
	
	@extend %cell-item ;
}
.mini {
	position: absolute ;
	top: -30px ;
	left: 50% ;
	width: 70px ;
	height: 70px ;
	margin-left: -35px ;

	background-size  : contain ;
	background-position: 50% 50% ;
	background-repeat: no-repeat ;
}
#menu {
	float: left; 
	a {
		display: block ;
		width: 60px ;
		height: 60px;
		background-repeat: no-repeat ;
		background-position: 50% 50% ;
		background-size: 60% ;
		transition : all 0.3s ease ;
		margin: 13px 20px 0 20px;
	}
}

#back {
	background-image : url("../img/themes/#{$selectedTheme}/interface/back_hover.png");
	background-color:  $main-color ;
	&:not(.forbidden):hover {
		background-image: url("../img/themes/#{$selectedTheme}/interface/back.png");
		background-color: #fff ;
	}

	&.forbidden {
		cursor : no-drop ;
		background-color: #555 ;
	}
}


#victory {
	position: fixed ;
	z-index: 10 ;
	background-color: rgba(0,0,0,0.8) ;
	background-image: url("../img/themes/#{$selectedTheme}/victoire.png") ;
	background-position: 50% 50% ;
	display: none ;
	width: 100% ;
	height: 100% ;
	top: 0 ;
	left: 0 ;
	color : #fff ;
	background-repeat: no-repeat ;
	text-align: center ;
	font-size: 36px ;
	padding: 20% ;
	h1 {
		font-size: 60px ;
	}
}